body {
}

.leftMenuColumn {
    width: 150px;
    float: left;
    background-color: aliceblue;
    min-height: 500vh;
}

.table {
    display: flex;
    justify-content: center;
    padding-top: 20px;
}

.commande-gridview {
    border: 1px solid black;
}

.commande-gridview th {
    background-color: #0077be;
    color: white;
    font-weight: bold;
    padding: 4px;
    text-align: left;
    border: 1px solid black;
}

.commande-gridview td {
    border-bottom: 1px solid #ddd;
    padding: 4px;
    border: 1px solid black;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.commande-gridview tr:nth-child(odd) {
    background-color: #f2f2f2;
}

.commande-gridview td:hover {
    background-color: #e5e5e5;
    cursor: pointer;
}